<!--
    Title: about.component.html
    Author: Carl Logan
    Date: 02/24/2023
    Description: Loan App - Capstone Project.
-->

<!-- Great information about the Loan App! -->
<div fxLayout="row wrap">
  <div fxFlex style="width: 300px">
    <div fxLayout="column" style="font-size: 30px; line-height: 35px; color: #222f5b">
      <p>
        The Loan App originated out of the need to understand how much one person would
        need to earn in a month to satisfy the payment requirements for the lender. Now
        with a click of the button, an answer aids individuals in planning for the future.
        Use does not guarantee a loan or monetary value of any sort. Consult an accountant
        before using regularly.
      </p>
    </div>
  </div>
</div>
